<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Category</th>
	</tr>
	<tr>
		<td><%= @ticket.title %></td>
		<td><%= @ticket.description %></td>
		<td><%= @ticket.category.name %></td>
	</tr>
</table>



<h2>Comments</h2>
<%= render @ticket.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>